.grid-container {
  margin: 10% auto;
}

.grid {
  white-space: pre;
}

* {
  box-sizing: content-box;
}

.modal-header {
  background-color: #e2dddf;
}
.modal-body {
  background-color: #e2dddf;
}
.modal-footer {
  background-color: #e2dddf;
}

.node {
  width: 25px;
  height: 25px;
  outline: 1px solid #3d898d;
  display: inline-block;
  background-color: #e2dddf;
}

.node-end {
  background-color: red;
  outline: 1px solid red;
}

.node-start {
  background-color: rgb(13, 151, 0);
  outline: 1px solid rgb(13, 151, 0);
}

.node-wall {
  background-color: #2f404d;
  outline: 1px solid #2f404d;
  animation-name: wallAnimation;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes wallAnimation {
  0% {
    transform: scale(1.2);
    background-color: #2f404d;
  }

  100% {
    transform: scale(1);
    background-color: #2f404d;
  }
}

.node-visited {
  outline: 1px solid rgb(250, 250, 250);
  animation-name: visitedAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.5);
    background-color: #7700a6;
    border-radius: 50%;
  }

  50% {
    background-color: #fe00fe;
  }

  75% {
    transform: scale(1.1);
    background-color: #defe47;
  }

  100% {
    transform: scale(1);
    background-color: #00b3fe;
  }
}

.node-shortest-path {
  outline: 1px solid rgb(255, 238, 7);
  animation-name: shortestPathAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPathAnimation {
  0% {
    transform: scale(0.7);
    background-color: rgb(255, 238, 7);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 238, 7);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 238, 7);
  }
}
